<h1>Pokémons Capturados</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nome do Pokémon</th>
        <th>ID do Mestre</th>
    </tr>
    @foreach (var pokemon in Model)
    {
        <tr>
            <td>@pokemon.PokemonId</td>
            <td>@pokemon.PokemonName</td>
            <td>@pokemon.MasterId</td>
        </tr>
    }
</table>
