@model PokemonList.Services.Pokemon

<h1>Detalhes do Pokémon</h1>

<p><strong>Nome:</strong> @Model.Name</p>
<p><strong>ID:</strong> @Model.Id</p>
<img src="@Model.Sprites.Front_Default" alt="@Model.Name" />
